/* css reset */
*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
#svgcontainer > *{
  height: 100% !important;
  width: 100% !important;
  display:block;
  margin: auto;
  padding: 3px;
}